*{
    background-color: aqua;
    padding:0px;
    margin:0px;
    box-sizing:content-box;
    text-align:center;
   font-family: Arial, Helvetica, sans-serif;
}

img{
    width:fit-content;
    height:fit-content;
}

#bangus{
    width:100vh;
    max-height: 50vh;
}

div{
    border: 3px; 
    margin: 5px;
}
/*
Remove bullet points and numbering
*/
li{
    list-style-type: none;
}

/*
Back to index
*/
#index{
    text-decoration: none;
    color: white;
}

ul{
    border: 3px solid rgb(233, 32, 32);
    display:flex;
    flex-direction: column;
    padding:5px;
    border-radius: 15px;
}
ol{
    border: 3px solid rgb(233, 32, 32);  
    display:flex;
    flex-direction: column;
    padding:5px;
    border-radius:15px
}
.border{
    background-color:#d1b6a8;
    padding:2.5px;
    border-radius:5px;
}
li{
    background-color: rgb(183, 158, 207);
}